<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" th:href="@{/css/topnav.css}">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" th:href="@{/css/table.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/form.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/button.css}">

</head>
<body>
<div class="header" >
    <img src="/images/logo/logo.png" alt="logo">
    <p style='font-size:16px'> <i class='fas fa-phone-alt'></i>  +4 0756 784 523 </p>
    <p style='font-size:16px'> <i class="material-icons">email</i> dentalclinic@office.com </p>

</div>


<div class="topnav">
    <a class="active" th:href="@{'/home'}">Home</a>
    <a th:href="@{'/servicesPrices'}">Services</a>
    <a th:href="@{'/doctors'}">Our specialists</a>
    <div class="topnav-right" sec:authorize="!isAuthenticated()">
        <a th:href="@{'/login'}">Login</a>
    </div>
    <div class="topnav-right" sec:authorize="isAuthenticated()">
        <form method="post" action="/logout">
            <button type="submit"  class="nav-btn">
                Logout
            </button>
        </form>
    </div>
    <div class="topnav-right" sec:authorize="hasAuthority('ROLE_1')">
        <a th:href="@{'/justDoctor'}">DOCTOR</a>
    </div>
    <div class="topnav-right" sec:authorize="hasAuthority('ROLE_2')">
        <a th:href="@{'/justPatient'}">PATIENT</a>
    </div>
</div>


<div>
<h1>Our specialists:</h1>
</div>
<div>
    <table>
        <tr>
            <th>Doctor</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Specializations</th>
            <th sec:authorize="hasAuthority('ROLE_1')">Actions</th>
        </tr>

        <tr th:each="doctor:${doctors}" >
            <td th:text="${doctor.userDetails.firstName} + ' ' + ${doctor.userDetails.lastName}"></td>
            <td th:text="${doctor.userDetails.email}"></td>
            <td th:text="${doctor.userDetails.phoneNumber}"></td>
            <td>
                <span th:each="s,i:${doctor.userDetails.specializations}" th:text="!${i.last} ? ${s.getSpecializationName()} + ', ' : ${s.getSpecializationName()}"></span>
            </td>
            <td>
                <button class="btn" sec:authorize="hasAuthority('ROLE_1')" >
                    <a th:href="@{'/viewAppointments/' + ${doctor.getUserDetails().userDetailsId}}"> View appointments </a>
                </button>

<!--                <button class="btn" sec:authorize="hasAuthority('ROLE_1')">-->
<!--                    <a th:href="@{'/deleteUser/' + ${doctor.getUsername()}}"> Delete </a>-->
<!--                </button>-->

            </td>
        </tr>
    </table>
</div>



</body>
</html>